@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
}
p::selection {
    /* Change highlight background color to maroon */
    background: var(--secondaryV-color);
    /* Change highlight text color to white */
    color: white;
}
/* Dark theme */
#icon {
    width: 5%;
    cursor: pointer;
    margin-left: 1px;
}
:root {
    --primary-color: #f2f2f2;
    --secondary-color: grey;
    --primaryII-color: #dcd3c7;
    --secondaryII-color: black;
    --primaryIII-color: white;
    --secondaryIII-color: #000;
    --primaryIV-color:#ee7600;
    --secondaryIV-color: #fff;
    --secondaryV-color: #ee7600;
    --secondaryVI-color: purple;
    --secondaryVII-color: orange;
}
.dark-theme {
    --primary-color: #1f1f1f;
    --secondary-color: grey;
    --primaryII-color: #121212;
    --secondaryII-color: grey;
    --primaryIII-color: #121212;
    --secondaryIII-color: white;
    --primaryIV-color: #121212;
    --secondaryIV-color: grey;
    --secondaryV-color: #7ac5cd;
    --secondaryVI-color: #ffbbff;
    --secondaryVII-color: #ee9572;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var( --primaryIV-color);
    border-bottom: 1px solid rgba(242,242,242,0.2);

}

.navbar {
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar input#menu-toggler {
    display: none;
}

.navbar #hamburger-btn {
    cursor: pointer;
    display: none;
}

.navbar .links {
    display: flex;
    align-items: center;
}


.navbar .links li {
    position: relative;
    list-style: none;
}

.navbar .logo a {
    display: flex;
    align-items: center;
    margin-left: 0;
}

header a, footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

header a:hover, footer a:hover {
    color: #ddd;
}


/*-----Blog header-----*/
.titleI {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 65px;
    color: #555;
    margin-bottom: 20px;
}
.titleI::after {
    content: '';
    background: #ee7600;
    width: 89px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*-------buttons-----*/
.karuraB {
    background: #ee7600;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55px;
    height: 18px;
    border-style: none;
    color: white;
    font-size: 14px;
    padding: 0px;
    margin-left: 150px;

}
.KaruraDiv {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    background: var(--primaryIII-color);


}



.KaruraDiv p {
    margin-bottom: 20px;
}
.backg {

    height: 700px;
    background-color: 0 10px 20px rgba(0, 0, 0, 0.3);
}
/*-----About us Header----*/
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 65px;
    color: #555;
    margin-bottom: 20px;
}
.title::after {
    content: '';
    background: #ee7600;
    width: 88px;
    height: 5px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.travels {
    background: #fff;
    list-style: none;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
.Top {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    color: var(--secondaryIII-color);
    margin-top: 40px;

}
/*-------BlogI-------*/
.firstimg img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 20px;

}
.Section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}
section .KaruraDiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 90px;
    padding: 0 10px;
    justify-content: space-between;
    background-color: var(--primaryIII-color);
}
.BlogIbutn {
    margin-top: 30px;
    background: #ee7600;
    margin-bottom: 1px;
    width: 55px;
    height: 18px;
    border-style: none;
    color: white;
    font-size: 14px;
    margin-left: 150px;


}
.Blogse {
    background: var(--primaryIII-color);
    color: var(--secondaryIII-color);
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgba(255,255,255,0.08);
}
.Secondimg img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 20px;

}
hr.vertical {
    border: 0;
    margin: 0;
    border-left: 8px solid grey;
    height: 50px;
    float: left;
}
.quote {
    margin-top: 50px;
    font-size: 25px;
    font-style: bold;
    margin-left: 25px;
    font-style: italic;
    color: var(--secondaryIII-color);

}
.Thirdimg img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 20px;

}
.Fourthimg img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 20px;

}
hr.horizontal {
    border: 0;
    margin: 0;
    border: 1px solid grey;
    width: 1200px;
    height: 0px;
    margin-bottom: 20px;
    margin-top: 40px;


}
.linkimg img {
    width: 50%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;

}
.linkimg {
    display: flex;
    align-items: flex-start;


}
.linkimg:hover {
    color: #ee7600;
}
.Quota {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

hr.horizontal2 {
    border: 0;
    margin: 0;
    border: 1px solid grey;
    width: 1200px;
    height: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.linkimg2 {
    display: flex;

}
.btn2 {
    margin-left: 50px;
}
.Nxt {
    margin-left: 10px;
    line-height: 40px;
    font-size: 40px;
    cursor: pointer;
    color: black;
}
.spanNxt {
    font-weight: bold;


}
.spanNxt:hover {
    color: #ee7600;
}
.Titl {
    margin-top: 100px;
    margin-bottom: 30px;
    color: var(--secondaryIII-color);


}
.Til2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
    color: var(--secondaryIII-color);
}
.Til3 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 390px;
    color: var(--secondaryIII-color);
}
hr.horizontal3 {
    border: 0;
    margin: 0;
    border: 2px solid #ee7600;
    width: 350px;
    height: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.quote {
    margin-top: 1px;
    font-weight: bold;
}
.PhotoDiscr {
    display: block;
    color: grey;
    text-align: center;

}
.Photolily {
    display: block;
    color: grey;
    text-align: center;

}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: var(--secondaryV-color);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 18px;
    margin-bottom: 10px;



}

.active, .dot:hover {
    background-color: #717171;

}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 7
    }
}
.descriptist {
    color: var(--secondaryV-color);
    font-weight: none;
}
.desc {
    color: var(--secondaryIII-color);
}
.Regretli {
    display: block;
}
.datetim {
    text-align: center;
    margin-right: 300px;
    color: grey;
    margin-bottom: 20px;
}
.menuI{
    display: inline-block;
margin-bottom: 15px;
}
.menuI li{
    display: inline-block;
padding-left: 18px;
list-style-type: disc;
margin-left: 10px; 
font-style: ;
color: var(--secondaryVII-color);
}
/*------footer------*/
.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    box-shadow: 0 0 20px 0px rgba(255,255,255,0.1);
    margin-top: 30px;
    border-top: 1px solid black;
}
.footer p {
    color: #8a8a8a;

}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 0;
    padding: 0
}
.footer li {
    list-style: none;
    display: inline-block;
    margin: 0 5px
}
.ptt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 0;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20pxx;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-4 {}

.footer-col-2 img {
    width: 150px;
    margin-bottom: 20px;
}
.footer-col-2 button {
    margin-bottom: 15px;
    background-color: black;
    color: white;
    border-color: white;
    height: 30px;
    width: 95px;
    border-style: solid;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 8px;
    font-weight: bold;
    border-left: none;
    border-right: none;

}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;

}
a {
    text-decoration: none;

}
li {
    display: block;
}

.footer hr {
    border: none;
    margin: 20px 0;
    background: #b5b5b5;
    height: 2px;
}
.Copyright {
    text-align: center;
    margin-left: 20px;
    color: grey;
}
.fabuttn {
    border: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #ee7600;
    cursor: pointer;
}
.malep {
    color: var(--secondaryIII-color);
    user-select: none;
}

/* Forest */

@media screen and (max-width: 860px) {
    .navbar .links {
        position: fixed;
        left: -100%;
        width: 300px;
        display: block;
        height: 100vh;
        top: 75px;
        background: var( --primaryIV-color);
        transition: left 0.3s ease;
        color: maroon;
        margin-top: -7.4px;
    }
    .backg {
        height: 495px;
    }
    #icon {
        width: 8%;
        cursor: pointer;
        margin-left: 1px;
    }
.quote {
    margin-top: 50px;
    font-size: 20px;
    font-style: bold;
    margin-left: 25px;
    font-style: italic;
    color: var(--secondaryIII-color);

}
    .Top {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        color: black;
        margin-top: 40px;
        color: var(--secondaryIII-color);

    }

    .Section {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 0 0;
    }
    section .KaruraDiv {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-top: 90px;
        padding: 0 10px;
        justify-content: space-between;
        background-color: var(--primaryIII-color);
    }
    .Blogse {
        background-color: var(--primaryIII-color);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
        border: 1px solid rgba(255,255,255,0.08);
    }
    .Titl {
        margin-top: 30px;
        margin-bottom: 30px;

    }
    .Til2 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .Til3 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .datetim {
        color: grey;
        margin-left: 0px;
        margin-right: 50px;
    }
    .KaruraDiv {
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        background: var(--primaryIII-color);


    }
    hr.horizontal2 {
        border: 0;
        margin: 0;
        border: 1px solid grey;
        width: 360px;
        height: 0px;
        margin-bottom: 20px;

    }
    hr.vertical {
        border: 0;
        margin: 0;
        border-left: 8px solid grey;
        height: 100px;
        float: left;
        display: flex;

    }
    hr.horizontal {
        border: 0;
        margin: 0;
        border: 1px solid grey;
        width: 360px;
        height: 0px;
        margin-bottom: 20px;
        margin-top: 40px;
        color: grey;
    }
    .Nxt {
        margin-left: 10px;
        line-height: 25px;
        font-size: 17px;
    }

    .navbar #menu-toggler:checked~.links {
        left: 0;
    }

    .navbar .links li {
        font-size: 18px;
    }

    .navbar #hamburger-btn {
        display: block;
    }



    footer a {
        height: 0;
    }
}
.descriptist {
    color: #ee7600;
    font-weight: none;
    display: block;
}
.desc {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
}

@media screen and (max-width: 560px) {

    .Blogse {
        background-color: var(--primaryIII-color);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
        border: 1px solid rgba(255,255,255,0.08);
    }
    #icon {
        width: 8%;
        cursor: pointer;
        margin-left: 1px;
    }
    .backg {
        background-color: var(--primaryIII-color);
        height: 495px;
    }
    .KaruraDiv {
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;


    }
    .Top {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--secondaryIII-color);
        margin-top: 40px;

    }
.quote {
    margin-top: 50px;
    font-size: 20px;
    font-style: bold;
    margin-left: 25px;
    font-style: italic;
    color: var(--secondaryIII-color);

}
    .Section {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 0 0;
    }
    section .KaruraDiv {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-top: 90px;
        padding: 0 10px;
        justify-content: space-between;
        background-color: var(--primaryIII-color);
        color: var(--secondaryIII-color);

    }
    .Titl {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .Til2 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .Til3 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .datetim {
        text-align: left;
        margin-left: 0px;
        color: grey;
        margin-right: 50px;
    }

    hr.vertical {
        border: 0;
        margin: 0;
        border-left: 8px solid grey;
        height: 100px;
        float: left;
    }
    hr.horizontal2 {
        border: 0;
        margin: 0;
        border: 1px solid grey;
        width: 360px;
        height: 0px;
        margin-bottom: 20px;
        color: grey;
    }
    hr.horizontal {
        border: 0;
        margin: 0;
        border: 1px solid grey;
        width: 360px;
        height: 0px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .Nxt {
        margin-left: 10px;
        line-height: 25px;
        font-size: 17px;
    }
    .descriptist {
        color: var(--secondaryV-color);
        font-weight: none;
        display: block;
    }
    .desc {
        margin-left: 20px;
        margin-top: 10px;
        display: block;
    }
}
